
.body{
  padding:0px 0px 0px 100px;
  display: flex;
}

.index{
  width: 200px;
  font-family: 'Prompt', sans-serif;
}

.index-title {
  font-weight: 500;
  font-size: 18px;
  color: rgb(72, 72, 72);
  margin-bottom: 35px;
}

.contents-list {
  vertical-align:baseline;
}

.title-work{
  font-size: 12px;
  transition: 0.3s;
}

.title-work:hover{
  color: darkorange;
}

.date-work {
  font-size: 10px;
  color: rgb(106, 106, 106);
  margin-left: 4px;
}

#work-right-view{
  position: absolute;
  left: 52%;
  transform: translateX(-50%);
  font-family: 'Prompt', sans-serif;
}

#body-info{
  margin-bottom: 20px;
}

.works-contents{
  margin: 0px 0px 0px 70px;
  font-family: 'Prompt', sans-serif;
  width: calc(100% - 280px);
  padding: 0px 0px 0px 10px;
}

.selected-works{
  font-weight: 500;
  margin-bottom: 35px;
}

.contents-body{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

#more-contents{
  transition: 0.3s;
}

#more-contents:hover{
  color: darkorange;
}

#more-index{
  transition: 0.3s;
  font-size: 16px;
}

#next{
 display: flex;
 padding-left: 30px;
}

#more-index:hover{
  color: darkorange;
}

.content{
  margin-right: 90px;
  margin-bottom: 30px;
  display: block;
  overflow-wrap: break-all;
}

.content-image{
  width: 400px;
  height: 400px;
  object-fit: cover; 
  background-color: rgb(145, 145, 145);
}

.content-title{
  width: 200px;
  height: 48px;
}

.pagination{
  text-align: center;
}

#moreindex{
  margin-top: 30px;
  margin-bottom: 30px;
  color: lightslategray;
  font-size: 13px;
  cursor: pointer;
}

.each-menu{
  display: inline;
  margin-left: 30px;
}

.artist-menu{
  margin-right: 30px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 300;
  font-size: 14px;
  transition: 0.3s;
}

.artist-menu:hover{
  color: darkorange;
}

#artists-list{
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: 0px;
  margin-top: 20px;
  border:rgb(220, 220, 220) solid 1px;
  border-radius: 10px;
}

#artist-name{
  width: 230px;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  transition: 0.3s;
  cursor: pointer;
  border-bottom:rgb(220, 220, 220) solid 1px;
}

#artist-name:hover{
  background-color: rgb(220, 220, 220);
}

#type-list{
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: 130px;
  margin-top: 20px;
  border:rgb(220, 220, 220) solid 1px;
  border-radius: 10px;
}

#creater-type-list{
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: 371px;
  border:rgb(72, 57, 57) solid 1px;
  border-radius: 10px;
}

/* 以下works#show */

#youtube{
  width: 100%;
  height: 506.25px;
}

#work-image{
  width: 100%;
  height: auto;
}

/* 以下contactform */
#contactbox{
  width: 100vw;
  height: auto;
  position: fixed;
  z-index: 2;
}

#contact-form{
  padding: 70px 100px 70px 100px;
  width: 550px;
  background-color: rgb(255, 255, 255);
  margin: auto;
  border:rgb(220, 220, 220) solid 1px;
  border-radius: 10px;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 400;
}

#form-headr{
  margin-bottom: 50px;
}

#close-btn{
  position: absolute;
  margin-left: -90px;
  margin-top: -60px;
  width: 50px;
  height: 50px;
  opacity: 0.5;
  cursor: pointer;
  border-radius: 50px;
}

#batsu1{
  position: absolute;
  margin-top: 22.7px;
  margin-left: 5px;
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(70, 70, 70);
  transform:rotate(45deg);
}

#batsu2{
  position: absolute;
  margin-top: 22.7px;
  margin-left: 5px;
  width: 40px;
  height: 3px;
  border-radius: 3px;
  background-color: rgb(70, 70, 70);
  transform:rotate(-45deg);
}

#close-btn:hover{
  background-color: rgb(216, 216, 216);
  opacity: 1;
}

#form-headr{
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}



#contact-name{
  width: 500px;
  height: 30px;
}

#contact-email{
  width: 500px;
  height: 30px;
}

#contact-text{
  width: 500px;
  height: 100px;
  resize: vertical;
  margin-bottom: 50px;
}

.submit-box{
  width: 500px;
  height: 40px;
}

#contact-submit{
  display: block;
  width: 100px;
  height: 40px;
  margin: auto;
  background-color: dodgerblue;
  color: white;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  transition: 0.3s;
}

#contact-submit:hover{
  background-color: rgb(4, 235, 212);
}

#error-box{
  text-align: center;
  color: rgba(198, 0, 0, 0.763);
}

.form-menu{
  margin-bottom: 50px;
}

#contact-success{
  position: fixed;
  margin: auto;
  background-color: rgb(114, 114, 114);
  color: white;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 20px;
  width: 400px;
  height: 40px;
  padding-top: 8px;
  border-radius: 48px;
  text-align: center;
}

#contact-message{
  margin-top: 30px;
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
}

/* 以下プロフィール */

.profile{
  width: 100vw;
  height: auto;
  font-family: 'Noto Sans JP', sans-serif;
}

#about{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  color: rgb(60, 60, 60);
  font-weight: 200;
}

.text-title{
  line-height: 6px;
}

.brand{
  font-size: 30px;
  margin-right: 20px;
}

.main-text{
  line-height: 50px;
  letter-spacing: 5px;
}

#about-artists{
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  color: rgb(60, 60, 60);
  font-weight: 200;
  letter-spacing: 5px;
}

#artists-title-box{
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.artists-title{
  font-size: 30px;
  color: rgb(99, 99, 99);
}

#artists-border{
  width: calc(800px - 115.25px - 30px);
  margin-left: 30px;
  height: 1px;
  background-color: rgb(150, 150, 150);
}

.artist-profile{
  margin-top: 50px;
  margin-bottom: 50px;
}

.artist-head{
  display: flex;
}

.artist-image{
  width: 200px;
  height: 200px;
  object-fit: cover; 
  background-color: rgb(188, 188, 188);
}

.atsuko-image{
  opacity:0.7;
}

.profile-name{
  font-size: 20px;
  margin-bottom: 20px;
}

.artist-status{
  line-height: 30px;
}

.profile-right{
  margin-left: 50px;
}

.profile-left{
  margin-right: 50px;
}

.artist-overview{
  margin-top: 50px;
  line-height: 30px;
}

.profile-border{
  width: 100%;
  height: 1px;
  background-color: rgb(150, 150, 150);
}

.image-right{
  margin-left: auto;
}

/* 以下indexページ */

.news-body{
  width: 100vw;
  padding-left: 100px;
  height: auto;
  font-family: 'Noto Sans JP', sans-serif;
  display: flex;
}

#news-index-box{
  width: 200px;
  height: auto;
}

.news-title-index{
  color: rgb(60, 60, 60);
  font-weight: 400;
  font-size: 12px;
}

.news-date-index{
  color: rgb(60, 60, 60);
  font-weight: 200;
  letter-spacing: 3px;
  margin-bottom: 30px;
  font-size: 12px;
}

#next{
  font-size: 14px;
  margin-top: 20px;
  cursor: pointer;
}

#right-view{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#news-contents{
  width: 700px;
  height: auto;
  margin-left: 7%;
  margin-top: 50px;
  font-weight: 200;
}

.blog-head{
  margin-top: 40px;
  display: flex;
}

.blog-date{
  width: 200px;
  letter-spacing: 3px;
  font-weight: 300;
}

.blog-share{
  width: 130px;
  margin-left: calc(700px - 320px);
}

.sns-rogo{
  height: 20px;
  opacity: 0.7;
  margin-left: 15px;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1;
}

.sns-rogo:hover{
  opacity: 1;
}

.edit-menu{
  margin-top: 20px;
  display: flex;
}

.edit-btn{
  cursor: pointer;
  transition: 0.3s;
  margin-right: 30px;
}

.edit-btn:hover{
  font-weight: 500;
  color: darkorange;
}

.delete-btn{
  cursor: pointer;
  transition: 0.3s;
}

.delete-btn:hover{
  font-weight: 500;
  color: darkorange;
}

.blog-menu{
  position: absolute;
  margin-left: 99px;
}


.blog-title{
  margin-top: 30px;
  margin-bottom: 40px;
  font-size: 40px;
  letter-spacing: 2px;
}

.blog-image{
  width: 700px;
  height: auto;
  background-color: lightgrey;
  margin-bottom: 30px;
}

.blog-text{
  letter-spacing: 2px;
  line-height: 40px;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 300;
}

.more-blog{
  margin-top: 50px;
  margin-left: 49px;
  transition: 0.3s;
}

.more-blog:hover{
  color: darkorange;
}

#attached-image{
  display: flex;
}

  /* blogform画面 */
#blog-new-info{
  color:blue;
}

.attached-image-box{
  margin-right: 10px;
  margin-bottom: 30px;
}

.image-check{
  position: relative;
  left: 23px;
  bottom: 80px;
}

/* 以下link-page */

.link-body{
  width: 100vw;
  min-height: 100%;
  font-family: 'Noto Sans JP', sans-serif;
}

.link-inner{
  width: 600px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

.link-text{
  font-size: 25px;
  color: rgb(93, 93, 93);
  letter-spacing: 5px;
  font-weight: 300;
  margin-top: 50px;
  margin-bottom: 50px;
}

#qittabtn{
  width: auto;
  height: 50px;
  opacity: 0.5;
}

.link-list-inner{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  position:relative;
}

.account-name-link{
  font-size: 20px;
  color: rgb(72, 72, 72);
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  margin-left: 20px;
  letter-spacing: 2px;
}

/* show-PC表示時縮小時 */
@media (max-width: 1610px) {
  .index-show{
    display: none;
  }
}
/* PC表示時縮小時 */
@media (max-width: 1185px) {
  .index{
    display: none;
  }
}

/* タブレット表示時 */
@media (max-width: 1025px) {
  
  /* 以下Works */
  .body{
    padding:0px;
    display: flex;
  }

  #work-right-view{
    position: static;
    transform: none;
    padding: 0px 50px;
  }

  .works-contents{
    margin: 0px 0px 0px 70px;
    font-family: 'Prompt', sans-serif;
    width: 100%;
    padding: 0px 0px 0px 10px;
  }

  .content{
    margin-right: calc(100% - 900px);
    margin-bottom: 20px;
    display: block;
    overflow-wrap: break-all;
  }

  .content-image{
    width: 380px;
    height: 380px;
    object-fit: cover; 
    background-color: rgb(145, 145, 145);
  }

  /* work show */

  .work-image1{
    width: 1030px;
    height: auto;
  }

  .work-image{
    width: 1030px;
    height: auto;
  }

  /* 以下News */
  #news-index-box{
    display: none;
  }

  #right-view{
    position: static;
    transform: none;
  }

  .news-body{
    width: calc(100vw - 100px);
    padding: 50px;
  }

  #news-contents{
    width: 824px;
    height: auto;
    margin-top: 50px;
    font-weight: 200;
  }

  .blog-date{
    font-size: 20px;
  }

  .blog-share{
    width: 300px;
    font-size: 20px;
    margin-left: 50px;
    display: flex;
    align-items: flex-start;
  }

  .sns-rogo{
    width: 50px;
    height: auto;
    opacity: 1;
    margin-left: 40px;
    margin-right: 0px;
  }

  .blog-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
  }

  .edit-menu{
    margin-top: 0px;
    margin-left: 200px;
    display: flex;
    align-items: flex-start;
  }

}


  /* スマホ表示時 */
@media (max-width: 980px) {

  .body{
    padding:0px;
    display: block;
  }

  .info-text{
    line-height: 70px;
  }

  .works-contents{
    margin: 0px 50px 0px 50px;
    padding: 0px;
    width: 880px;
  }

  .contents-body{
    width: 100vw;
    display: block;
    flex-wrap: wrap;
  }

  .content{
    width: 880px;
    margin-right: 0px;
    margin-bottom: 100px;
    overflow-wrap: break-all;
  }

  .contents-body {
    width: 100%;
    flex-direction: column
  }

  .content-image{
    width: 880px;
    height: 880px;
    object-fit: cover; 
    background-color: rgb(145, 145, 145);
  }

  .content-title{
    width: 100%;
  }

  .title-work{
    font-size: 40px;
  }

  .date-work{
    font-size: 30px;
    margin-left: 30px;
  }

  #body-info{
    font-size: 42px;
  }

  .artist-menu{
    margin-right: 50px;
    font-size: 30px;
    border: gray solid 1px;
    border-radius: 60px;
    padding:10px 30px;
  }

  #artist-list{
    z-index: 40;
  }

  #artist-name{
    font-size: 40px;
    width: 500px;
    margin-right: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: none;
  }


  /* 以下News */
  .news-body{
    width: 880px;
  }

  #news-contents{
    width: 880px;
    margin-left: 0px;
  }

  .blog-head{
    margin-top: 100px;
  }

  .blog-image{
    width: 97%;
  }

  .blog-date{
    margin-top: 10px;
    width: 370px;
    font-size: 40px;
    font-weight: 500;
  }

  .blog-share{
    margin-left: 100px;
    font-size: 40px;
  }

  .sns-rogo{
    width: 100px;
    margin-left: 40px;
  }

  .edit-menu{
    width: 110px;
    position: relative;
    top: -150px;
    left: -300px;
  }

  .edit-btn{
    position: relative;
    font-size: 40px;
  }

  .delete-btn{
    position: relative;
    left: -100px;
    top: 70px;
    font-size: 40px;
  }

  .blog-title{
    font-weight: 400;
    letter-spacing: 5px;
  }

  .blog-text{
    letter-spacing: 5px;
    line-height: 70px;
    font-size: 35px;
    font-weight: 400;
  }

  .profile-border{
    margin-top: 200px;
    margin-bottom: 200px;
  }

  /* 以下プロフィール */
  .profile{
    margin-top: 100px;
  }
  #about{
    color: black;
    font-weight: 300;
    letter-spacing: 5px;
  }

  .brand{
    font-size: 60px;
  }

  .text-title{
    font-size: 40px;
  }

  .main-text{
    letter-spacing: 8px;
    line-height: 70px;
    font-size: 40px;
  }

  .artists-title {
    font-size: 60px;
    font-weight: 400;
    color: black;
  }

  .artist-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    background-color: rgb(188, 188, 188);
  }

  .artist-head-text{
    color: black;
    font-weight: 300;
    letter-spacing: 5px;
  }

  .profile-name{
    font-size: 50px;
  }

  .artist-status {
    font-size: 30px;
    letter-spacing: 8px;
    line-height: 50px;
  }

  .artist-overview {
    margin-top: 50px;
    line-height: 60px;
    letter-spacing: 8px;
    font-size: 30px;
    color: black;
    font-weight: 300;
  }

  /* contact-form */
  #contact-form{
    width: calc(100vw - 200px);
    height: auto;
    padding-left: 100px;
    border-color: black;
  }

  #close-btn{
    position: absolute;
    width: 100px;
    height: 100px;
  }

  #batsu1{
    width: 90px;
    height: 10px;
    border-radius: 10px;
    margin-top: 60px;
  }

  #batsu2{
    width: 90px;
    height: 10px;
    border-radius: 10px;
    margin-top: 60px;
  }

  #form-headr{
    font-size: 50px;
  }

  #rogo-image{
    width: 200px;
  }

  #error-box{
    font-size: 40px;
  }

  .works-form{
    font-size: 40px;
  }

  .works-text{
    margin: 0px;
    margin-bottom: 50px;
  }

  .emphasis{
    font-size: 30px;
  }

  #contact-name{
    width: 760px;
    height: 80px;
    border-color: black;
  }

  #contact-email{
    width: 760px;
    height: 80px;
    border-color: black;
  }

  #contact-text{
    width: 760px;
    height: 300px;
    border-color: black;
  }

  #contact-submit{
    width: 200px;
    height: 80px;
    margin-bottom: 100px;
    border-radius: 80px;
  }

  /* Link */
  .link-inner {
    width: calc(100% - 200px);
    height: auto;
    padding: 100px;
  }

  .link-text {
    font-size: 50px;
    color: black;
    text-align: center;
  }

  .link-list-inner {
    width: calc(100% - 200px);
    padding: 100px;
  }

  #qittabtn {
    height: 150px;
  }

  .account-name-link {
    font-size: 40px;
    color: rgb(72, 72, 72);
    position: absolute;
    left: 60%;
  }

  /* Show */

  .works-info {
    font-size: 50px;
  }

  .small {
    font-size: 40px;
  }

  .contents-body{
    font-size: 50px;
  }

  .description{
    font-size: 45px;
    letter-spacing: 7px;
    line-height: 90px;
    margin-top: 100px;
  }

  #youtube{
    width: 100%;
    height: 506.25px;
  }

  .work-image1{
    width: 880px;
    height: auto;
  }

  .work-image{
    width: 880px;
    height: auto;
  }


}