.body{
  padding:0px 0px 0px 100px;
  display: flex;
}

.index{
  width: 200px;
  font-family: 'Prompt', sans-serif;
}

.index-title {
  font-weight: 500;
  font-size: 18px;
  color: rgb(72, 72, 72);
  margin-bottom: 35px;
}

.contents-list {
  vertical-align:baseline;
}

.title-work{
  font-size: 12px;
  transition: 0.3s;
}

.title-work:hover{
  color: darkorange;
}

.date-work {
  font-size: 10px;
  color: rgb(106, 106, 106);
  margin-left: 4px;
}

.works-contents{
  margin: 0px 0px 0px 70px;
  font-family: 'Prompt', sans-serif;
  width: calc(100% - 280px);
  padding: 0px 0px 0px 10px;
}

.selected-works{
  font-weight: 500;
  margin-bottom: 35px;
}

.contents-body{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.content{
  margin-right: 20px;
  margin-bottom: 30px;
  display: block;
  overflow-wrap: break-all;
}



.content-image{
  width: 200px;
  height: 200px;
  object-fit: cover; 
  background-color: rgb(145, 145, 145);
}

.content-title{
  width: 200px;
  height: 48px;
}

.pagination{
  text-align: center;
}

#moreindex{
  margin-top: 30px;
  margin-bottom: 30px;
  color: lightslategray;
  font-size: 13px;
  cursor: pointer;
}

.each-menu{
  display: inline;
  margin-left: 30px;
}

#artist-menu{
  margin-left: 30px;
  cursor: pointer;
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 450;
  transition: 0.3s;
}

#artist-menu:hover{
  color: darkorange;
}

#artists-list{
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin-left: 80px;
  border:rgb(220, 220, 220) solid 1px;
  border-radius: 10px;
}

#artist-name{
  width: 230px;
  height: 50px;
  line-height: 50px;
  padding: 0px 30px;
  transition: 0.3s;
  cursor: pointer;
  border-bottom:rgb(220, 220, 220) solid 1px;
}

#artist-name:hover{
  background-color: rgb(220, 220, 220);
}