<%= form_with(model: blog, data: { remote: false}) do |f| %>      <p>現在登録されている画像（削除するものはチェックしてください）</p>
    <div id="attached-image">
      <% blog.blog_images.each do |image| %>
        <div>
          <%= f.check_box :image_ids, {:multiple => true}, image.id, false %>
          <%= image_tag image, :size=>"100x100" %> <br>
        </div>
      <% end %>
    </div>
  <%= f.submit "チェックした画像を削除する" ,class:"works-text" %>
<% end %>
