<div class="info-body">
  <div class="work-info">
    作品を保存しました。
  </div>
  <%= link_to '続けて登録する', new_work_path ,class:"select-btn" %>
  <%= link_to '作品一覧を見る', works_works_path ,class:"select-btn"%>
</div>