.footer-box{
  margin-top: 100px;
  width: 100%;
  height: 100px;
  font-family: 'Prompt', sans-serif;
}

.footer-icon{
  width: 150px;
  height: auto;
  margin-left: 50px;
  justify-content: end;
  transition: 0.3s;
}

.footer-icon:hover{
  opacity: 0.5;
}

.footer-menus{
  display: flex;
  font-size: 18px;
  justify-content: center;
  cursor: pointer;
}

.footer-menu{
  margin-right: 35px;
  transition: 0.3s;
}

.footer-menu:hover{
  color: darkorange;
}

.session{
  font-size: 10px;
  color: rgb(157, 157, 157);
}

@media (max-width: 980px) {

  

  .footer-menus{
    font-size: 47px;
    justify-content: start;
    padding-left: 100px;
  }

  .footer-menu{
    margin-bottom: 200px;
  }

  .footer-icon{
    position: absolute;
    margin-top: 110px;
    left: 210px;
    width: 500px;
  }

}