<footer class="footer-box">
  <%=link_to image_tag('komadorihouse_rogo_white.png', class:"footer-icon"),new_work_path %>
  <div class="footer-text">
    <div class="footer-komadori">
      Komadorihouse
    </div>
  </div>
</footer>