<div class="menu-btns">
  <%= link_to(new_work_path) do%>
    <div class="menu-btn">
      新規登録
    </div>
  <% end %>
  <%= link_to(list_works_path) do%>
    <div class="menu-btn">
      情報一覧/編集
    </div>
  <%end%>
  <%= link_to(show_mail_works_path) do%>
    <div class="menu-btn">
      問い合わせ一覧
    </div>
  <%end%>
</div>