<ul id="artists-list" style="display: none;">
<% @creaters.each do |creater| %>
  <% unless creater.id == 0 %>
    <%= link_to(creater_work_path(creater.id), remote: true) do %>
      <li id="artist-name">
        <%= creater.name  %>
      </li>
    <% end %>
  <% end %>
<% end %>
</ul>