<ul id="artists-list" style="display: none;">
<% @creaters.each do |creater| %>
  <% unless creater.id == 0 %>
  <li id="artist-name">
      <%= link_to creater.name , creater_work_path(creater.id) , remote: true%>
  </li>
  <% end %>
<% end %>
</ul>