<div class="index">
    <div class="index-title">
      News Index
    </div>
    <div class="index-contents">
      <ul id="contents-lists">
       <li class="contents-list">
          <div class="news-title-index">
          <%= link_to "ホームページ を ニューアルしました。" ,"#" %>
          </div>
          <div class="news-date-index">
          <%= link_to "2021.8.16" ,"#" %>
          </div>
        </li>
        <li class="contents-list">
          <div class="news-title-index">
          <%= link_to "Kinari の 新しいイラスト" ,"#" %>
          </div>
          <div class="news-date-index">
          <%= link_to "2021.7.16" ,"#" %>
          </div>
        </li>
      </ul>
      <div id="more-lists">
      </div>
    </div>
     <div id="next">
        過去の記事を表示
     </div>
</div>