<div class="index">
    <div class="index-title">
      Works Index
    </div>
    <div class="index-contents">
      <ul id="contents-lists">
       <%= render 'shared/index' ,:param_name => "index"%>
      </ul>
      <div id="more-lists">
      </div>
    </div>
     <span id="next">
        <%= link_to_next_page @workslist, 'もっと見る',id:"more-index" ,:param_name => "index" ,remote: true %>
     </span>
</div>