<ul class="contents-lists">
      <% @workslist.each do |work| %>
        <li class="contents-list">
          <span class="title-work">
          <%= link_to work.title ,work_path(work.id) %>
          </span>
          <span class="date-work">
          <%= link_to work.created_year ,work_path(work.id) %>
          </span>
        </li>
      <% end %>
</ul>